@model ControlDeInventarios.entities.vw_tesoreria_notas_facturas

<form class="modal-content needs-validation" action="javascript:ActualizarMonto();" method="post" novalidate>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Actualizar monto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    Utilice esta pantalla para actualizar el monto, el monto debe ser menor o igual al monto de la factura seleccionada.
                </div>
                <div class="col-12 mt-3">
                    Monto *
                </div>
                <div class="col-12">
                    <input id="txtMontoFactura" name="txtMontoFactura" type="number" value="@Model.monto.ToString("N2")" max="@Model.saldo" step="0.0001" class="form-control text-end" required />
                    <div class="invalid-feedback">Requerido</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cerrar</button>
            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Actualizar</button>
        </div>
    </div>
</form>

<script>

    //VALIDACION BOOTSTRAP
    (() => {
        'use strict';
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation');
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach((form) => {
            form.addEventListener('submit', (event) => {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();

    //Validar datos del producto.
    function ActualizarMonto() {
        var monto = document.getElementById("txtMontoFactura").value; //le pone lo que esta en el modal.
        //Carga los datos del registro a editar;
        var value = {
            PK_codigo: @Model.PK_codigo,
            monto: monto
        }
        //Hace la peticion AJAX para guardar registro.
        $.ajax({
            url: '/NotaCredito/Update',
            type: "POST",
            data: JSON.stringify(value),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //Actualizar pagina.
                location.reload();
            },
            error: function (response) {

            }
        });
    }

</script>