@model IEnumerable<ControlDeInventarios.mvc.Controllers.devolucion_compra_dto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row tema">
        <div class="col-12 mt-4">
            <h1 class="h3 mt-4 text-gray-800">Devoluciones de Compras</h1>
            <hr />
        </div>
    </div>
    <table class="table table-striped" id="tableNotas">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Numero de compra</th>
                <th>Fecha</th>
                <th>Valor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PK_codigo</td>
                    <td>@item.FK_proveedores_compras</td>
                    <td>@item.fecha.ToString("dd/MM/yyyy HH:mm")</td>
                    <td class="text-end">@item.total.ToString("C2")</td>
                    <td>
                        <a href="/DevolucionesCompras/Details/@item.PK_codigo">
                            Ver detalle
                        </a>
                    </td>
                 </tr>
                 }
        </tbody>
    </table>
</div>



@section botones{
    <a href="~/DevolucionesCompras/Create" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i><span class="d-none d-sm-inline"> Nueva</span></a>
}