@{
    ViewBag.Title = "Corte de Caja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #div_fecha {
        color: red;
        font-size: 0.875em;
    }
</style>

<div class="container">
    <div class="row tema">
        <div class="col-12 mt-4">
            <h1 class="h3 mt-4 text-gray-800">Corte de Caja</h1>
            <hr />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2">
            <label>Fecha </label><br />
            <div class="input-group">
                <input id="txtFecha" name="txtFecha" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control text-end" onchange="getFecha()" required />
                <a class="btn btn-outline-secondary" type="button" href="#!" onclick="AbrirModalCorteCaja();"><i class="fas fa-search"></i> Buscar</a>
            </div>
            <div id="div_fecha"></div>
        </div>
    </div>
</div>

<div class="container">
    <div id="GenerarCorte">

    </div>
</div>

@section botones{
    <a href="#!" class="btn btn-outline-primary" onclick="GenerarReporteCorteCaja();"><i class="fa fa-file-pdf-o"></i> Generar PDF</a>
}

@section scripts{
    <script>

        $(document).ready(function () {
            //let table = new DataTable('#myTable');
            new DataTable('#myTable', {
                order: [[0, 'desc']],
                responsive: true
            });
        });

        //Carga la vista parcial.
        function AbrirModalCorteCaja() {
            var value = {
                fecha: document.getElementById("txtFecha").value
            }
            //Carga la vista parcial.
            $.ajax({
                url: "../../CXC/_GenerarCorte",
                data: JSON.stringify(value),
                method: "POST",
                contentType: "application/json",
                dataType: "html"
            }).done(function (r) {
                $("#GenerarCorte").html(r);
            });
        }

        function GenerarReporteCorteCaja() {
            var fecha = document.getElementById("txtFecha").value;
            if (fecha !== "") {
                $('#div_fecha').text('');
                getGenerar(fecha);
            }
            else {
                $('#div_fecha').text('Requerido');
            }
        }

        function getGenerar(fecha) {
            //Crea el objeto: facturacion_documentos_relacionados.
            var value = {
                fecha: fecha
            }
            //Hace la peticion AJAX para guardar registro.
            $.ajax({
                url: '/CXC/GenerarReporteCorteCaja',
                type: "POST",
                data: JSON.stringify(value),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.success && result.pdfBase64) {
                        var pdfData = atob(result.pdfBase64);
                        var arrayBuffer = new Uint8Array(pdfData.length);
                        for (var i = 0; i < pdfData.length; i++) {
                            arrayBuffer[i] = pdfData.charCodeAt(i);
                        }
                        var blob = new Blob([arrayBuffer], { type: "application/pdf" });
                        var url = URL.createObjectURL(blob);
                        window.open(url, '_blank');
                    } else {
                        //console.error("PDF generation failed or no base64 string provided.");
                    }
                },
                error: function (response) {

                }
            });
        }

        function getFecha() {
            $('#div_fecha').text('');
        }

        //Cargar inicialmente.
        $(document).ready(function () {
            //Recarga la grid.
            AbrirModalCorteCaja();
        });

    </script>
}


