*/bin/*
*/obj/*
*/.gradle/*
*/.idea/*
*/.settings/*
*/.classpath
*/.project
*/.DS_Store
*/.gitignore
*/.git/*
*/.gitattributes
*/.gitmodules
*/.gitkeep
*/.gitlab-ci.yml
*/.travis.yml
*/.coveralls.yml
*/.editorconfig
*/.jshintrc
*/.jscsrc
*/.eslintrc
*/.eslintignore
*/.stylelintrc
*/.stylelintignore
*/.prettierrc
*/.prettierignore
*/.npmignore
*/.npmrc
*/.yarnignore
*/.yarnclean
*/.yarn-integrity
*/.yarnclean
*/.yarnrc
*/.yarnrc.yml
*/.yarnrc.yaml
*/.yarnrc.json
*/.yarnrc.lock
*/