*/bin/*
*/obj/*
bin



*/.travis.yml
*/.coveralls.yml
*/.editorconfig
*/.jshintrc
*/.jscsrc
*/.eslintrc
*/.eslintignore
*/.stylelintrc
*/.stylelintignore
*/.prettierrc
*/.prettierignore
*/.npmignore
*/.npmrc
*/.yarnignore
*/.yarnclean
*/.yarn-integrity
*/.yarnclean
*/.yarnrc
*/.yarnrc.yml
*/.yarnrc.yaml
*/.yarnrc.json
*/.yarnrc.lock