
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sistema de Control de Inventario - @ViewBag.Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link src="~/css/assets/img/favicon.png" />
    <link src="~/css/assets/img/apple-touch-icon.png" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/css/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/css/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/css/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/css/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/css/botones_flotantes.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="~/css/assets/css/style.css" rel="stylesheet" />

    <!-- Librería de Select2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
</head>

<body class="w-100 h-100">

    <main id="main" class="w-100 h-100">
        <!-- ======= About Section ======= -->
        @RenderBody()
        @RenderSection("formulario", required: false)

    </main><!-- End #main -->


    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    <script src="~/css/assets/vendor/aos/aos.js"></script>
    <script src="~/css/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/css/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/css/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/css/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/css/assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="~/css/assets/js/main.js?fecha=20221106"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <!-- Librería de Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>

    <!-- Librería de Fontawesome -->
    <script src="https://kit.fontawesome.com/03eb782f44.js" crossorigin="anonymous"></script>

    <!-- Librería de SweetAlert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>